/* common styles */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */

    overflow: auto;
}

div {
    width: 100%;
    height: 100%;
}

/* HOME Div 1 */
.div-1 {
    background-color: #5F92F2;

}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    display: flex;
    justify-content: center;
}

.nav-link {
    color: #D5E3FC;
    font-size: 2.5rem;
    margin-top: 5rem;

}

.jumbotron {
    background-color: transparent !important;
    width: 100%;
    height: 40%;
    text-align: center;
    margin-top: 20rem
}

.containter {
    width: max-content;
}


.display-4 {
    color: #D5E3FC;

}

.display-4 span {
    color: #1258DB;
}

.btn-primary {
    background-color: #1258DB !important;
    color: #D5E3FC;
    width: max-content;
    transition: all .2s ease-out;
}

.btn-primary:hover {
    transition: 1.5s ease-in;
    font-size: 1.5rem;
    background-color: #1258D9;
    color: #D5E3FC;
    transform: scale(1.1)
}

/* END OF HOME DIV 1 */


.div-2 {
    background-color: #1258DB;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.about-heading {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: #D5E3FC;
    padding-top: 1.5rem;
}

.circles {
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin-top: 1.5rem;
}

.circle-1 {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #0A3178;
}

#responsive {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    color: #D5E3FC;

}

.responsive-heading {
    margin-top: 2.5rem;
    font-size: 3rem;
    color: #D5E3FC;
    display: flex;
    justify-content: center;
}

.paragraph-1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: #D5E3FC;

}

.circle-2 {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #0A3178;

}

#analytical {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    color: #D5E3FC;
    margin-left: 5.5rem;

}

.analytical-heading {
    margin-top: 2.5rem;
    font-size: 3rem;
    text-align: center;
    color: #D5E3FC;
}



.paragraph-2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: #D5E3FC;
}


.circle-3 {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #0A3178;
}

#meticulous {
    font-size: 5.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    color: #D5E3FC;
}

.meticulous-heading {
    margin-top: 2.5rem;
    font-size: 3rem;
    text-align: center;
    color: #D5E3FC;
}

.paragraph-3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: #D5E3FC;
    font-stretch: expanded;
}

.circle-4 {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #0A3178;
}

#quick-learner {
    font-size: 5.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    color: #D5E3FC;
}

.quick-heading {
    margin-top: 2.5rem;
    font-size: 3rem;
    text-align: center;
    color: #D5E3FC;
}

.paragraph-4 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: #D5E3FC;
    font-stretch: expanded;
}

.img-container {
    position: absolute;
    display: flex;
    align-items: flex-start;
    margin-top: -35rem;
    margin-left: 25rem;
}

.dev-photo {
    height: 25rem;
    width: 25rem;
    border-radius: 20%;
}


.img-p {
    display: flex;
    /* justify-content: flex-start; */

}


.p-background {
    position: absolute;
    display: flex;
    background-color: #0A3178;
    height: 25rem;
    width: 50rem;
    margin-top: -35rem;
    margin-left: 60rem;
    border-radius: 5%;
}


.about-paragraph {
    padding: 1rem;
    color: #D5E3FC;
}


.div-3 {
    background-color: #0A3178;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.Portfolio-heading {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: #D5E3FC;
    padding-top: 1.5rem;
}

.portfolio-cards-1 {
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin-top: 1.5rem;
    flex-direction: row;
    position: relative;

}

.cards {
    width: 25rem;
    height: 14rem;
    background-color: #091034;
    color: #D5E3FC;
    border-radius: 2%;
    opacity: .8;
    transition: all .2s ease-in-out;
}

.cards:hover {
    width: 27rem;
    height: 27rem;
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;

}



.card-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0;
}

.card-text {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin: 0;

}

#apple-button {
    display: flex;
    justify-content: center;
    background-color: #0A3178;
    color: #D5E3FC;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 1rem;
}

#creative-button {
    display: flex;
    justify-content: center;
    background-color: #0A3178;
    color: #D5E3FC;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 1rem;

}

#business-button {
    display: flex;
    justify-content: center;
    background-color: #0A3178;
    color: #D5E3FC;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 1rem;
}



.portfolio-cards-2 {
    position: absolute;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 15rem;
    flex-direction: row;
    margin-top: 30rem;
}

.cards-2 {
    width: 25rem;
    height: 25rem;
    background-color: #091034;
    color: #D5E3FC;
    border-radius: 2%;
}

.card-title-2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0;
}

.card-text-2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin: 0;
}

#food-button {
    display: flex;
    justify-content: center;
    background-color: #0A3178;
    color: #D5E3FC;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 1rem;
}

#guess-button {
    display: flex;
    justify-content: center;
    background-color: #0A3178;
    color: #D5E3FC;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 1rem;
}

#responsive-button {
    display: flex;
    justify-content: center;
    background-color: #0A3178;
    color: #D5E3FC;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 1rem;
}
















.div-4 {
    background-color: #091034;
    overflow: hidden;

}

.contact-heading {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: #D5E3FC;
    padding-top: 1.5rem;
    margin-bottom: 5rem;
}

.contact-background {
    height: 50rem;
    width: 45rem;
    background-color: #0A3178;
    margin-top: auto;
    border-radius: 2%;
    margin: auto;
    position: relative;
}

.linked-in-pic {
    position: absolute;
    border-radius: 3%;

}

.badge-name {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
    padding-top: .5rem;
    color: #D5E3FC;
    font-size: 4rem;
}

.badge-caption {
    color: #D5E3FC;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    padding-right: 3rem;
}

.experience {
    color: #D5E3FC;
    display: flex;
    justify-content: flex-end;
    padding-right: 8rem;
}

.experience-2 {
    color: #D5E3FC;
    display: flex;
    justify-content: center;
    padding-left: 13rem;
}

.badge-item {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}





#badge-button-1 {
    height: 4rem;
    width: 30rem;
    font-size: 1.5rem;
    background-color: #091034;
    letter-spacing: 1.5px;

}

#badge-button-2 {
    height: 4rem;
    width: 30rem;
    font-size: 1.5rem;
    background-color: #091034;
    letter-spacing: 1.5px;

}

.email-location {
    display: flex;
    justify-content: center;
    color: #D5E3FC;
    font-size: 1.5rem;
    font-style: bold;
}